@import "base";
@import "border";
.content{
	background:#2d3340;
	&.article_wrap{
		bottom: 0;
	}
}
#suggest-form{
	height: 60%;
	margin:0 2%;
	@include borderOne('bottom',#34424c);
}
.input_suggest{
	position: absolute;
	box-sizing:border-box;
	width:100%;
	padding: 2%;
	height: 100%;
	border:none;
	background:#2d3340;
	color:#FFF;
	resize:none;
	@include placeholder{
		color:#4b5363;
	}
}

header .right-btn span{
	background: none;
	width: 43px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #3288e0;
    border-radius: 7px;
    color: #3288e0;
	&::after{
		content: '提交';
	}
	&.disable{
		color: #546a79;
		border:1px solid #546a79;
	}
	

}

.article{
	padding:10px;
	line-height: 23px;
	p{
		padding-bottom: 20px; 
		text-align: justify;
	}
}

.about{
	font-size: 14px;
	line-height: 23px;
	color: #546a79;
	text-align: center;
	.about_logo{
		display: block;
		width: 38%;
		margin: 30px auto;
	}
	p{
		padding: 0 15px;
		text-align: justify;
	}
}
.about_footer{
	position: fixed;
	left:50%;
	bottom: 5px;
	@include transform(translate(-50%));
}